<html>
	{% assign title = triples | where:"predicate", dcterms.title | first -%}
	{% assign description = triples | where:"predicate", dcterms.description | first -%}
	<head>
		<meta  http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% if title -%}
				{{title.object}}
			{% else -%}
				Dataset: {{subject}}
			{% endif -%}
		</title>

		<!-- Bootstrap CSS, Theme and JS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!-- Lodlab Theme Extensions -->
		<link rel="stylesheet" href="http://datadock.io/static/css/lodlab.css" />
		<script src="http://datadock.io/static/js/lodlab.presentation.js"></script>

		<link rel="alternate" type="application/n-quads" href="{{nquads}}"/>

	</head>
<body prefix="dc: http://purl.org/dc/terms/ void: http://rdfs.org/ns/void# dcat: http://www.w3.org/ns/dcat#" resource="{{subject}}">
	<div class="container">
		<header class="page-header">
			{% if title -%}
				<h1>{{title.object}}</h1>
			{% else -%}
				<h1>Dataset: {{subject}}</h1>
			{% endif -%}
			{% if description -%}
				<p>{{ description.object | newline_to_br }}</p>
			{% endif -%}
		</header>
		<div class="row">
			<div class="col-md-6">
				<table id="triples-table" class="table table-condensed table-bordered">
					<tr>
						<td>Publisher</td>
						<td>
							{% assign publisher = triples | where:"predicate", dcterms.publisher | first -%}
							{% if publisher -%}
								{% assign publisher_triples = publisher.nested_triples -%}
								{% assign publisher_type = publisher_triples | where:"predicate", rdf:type | first -%}
								<table property="dc:publisher" resource="{{publisher.object}}" typeof="{{publisher_type.object}}">
									<tr>
										<td>Name:</td>
										<td>
											{% assign name = publisher_triples | where:"predicate", foaf.name | first -%}
											<span property="foaf:name">{{name.object|default: "Not specified."|escape}}</span>
										</td>
									</tr>
									<tr>
										<td>Website:</td>
										<td>
											{% assign web = publisher_triples | where:"predicate", foaf.homepage | first -%}
											{% if web -%}
												<a property="foaf:homepage" href="{{web.object}}">{{web.object|escape}}</a>
											{% else -%}
												Not specified.
											{% endif -%}
										</td>
									</tr>
									<tr>
										<td>Contact:</td>
										<td>
											{% assign email = publisher_triples | where:"predicate", foaf.mbox | first -%}
											<span property="foaf:mbox">{{email.object|default: "Not specified."|escape}}</span>
										</td>
									</tr>
								</table>
							{% endif -%}
						</td>
					</tr>
				</table>
			</div>
		</div>

		{% assign datasets = triples | where:"predicate", void.subset %}
		{% if datasets.size > 0 %}
			<div class="page-header">
				<h2>Datasets</h2>
			</div>
			{% for dataset in datasets %}
				{% assign ds_triples = dataset.nested_triples %}
				<div class="row" property="void:subset" resource="{{dataset.object}}">
					<div class="panel panel-default" about="{{dataset.object}}">
						{% assign title = ds_triples | where:"predicate", dcterms.title | first %}
						<div class="panel-heading">
							<h3 property="dc:title"><a href="{{dataset.object}}">{{title.object | default:dataset.object }}</a></h3>
						</div>
						<div class="panel-content">
							<table class="table table-condensed">
								<tr>
									<td>Description:</td>
									<td>
										{%assign description = ds_triples | where:"predicate", dcterms.description | first %}
										{% if description.object %}
											<span property="dc:description">{{description.object | newline_to_br }}</span>
										{% else %}
											Not specified.
										{% endif %}
									</td>
								</tr>
								<tr>
									<td>Modified:</td>
									<td>
										{%assign modified = ds_triples | where:"predicate", dcterms.modified | first -%}
										{% if modified.object %}
											<span property="dc:modified" datatype="{{modified.object_datatype}}">{{modified.object}}</span>
										{% else %}
											Not specified.
										{% endif %}
									</td>
								</tr>
								<tr>
									<td>License:</td>
									<td>
										{% assign license = ds_triples | where:"predicate", dcterms.license | first %}
										{% if license.object %}
											{% case license.object %}
												{% when "https://creativecommons.org/publicdomain/zero/1.0/" %}
													<a property="dc:license" href="https://creativecommons.org/publicdomain/zero/1.0/">CC-0 (Public Domain)</a>
												{% when "https://creativecommons.org/licenses/by/4.0/" %}
													<a property="dc:license" href="https://creativecommons.org/licenses/by/4.0/">CC-BY (Attribution Required)</a>
												{% when "https://creativecommons.org/licenses/by-sa/4.0/" %}
													<a property="dc:license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA (Attribution Required, Sharealike)</a>
												{% when "http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" %}
													<a property="dc:license" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government License (Attribution Required)</a>
												{% else %}
													<a property="dc:license" href="{{license.object}}">{{license.object}}</a>
											{% endcase %}
										{% else %}
											Not specified.
										{% endif %}
									</td>
								</tr>
								<tr>
									<td>Triple Count:</td>
									<td>
										{% assign triple_count = ds_triples | where:"predicate", void.triples | first %}
										{% if triple_count.object %}
											<span property="void:triples" datatype="{{triple_count.object_datatype}}">{{triple_count.object}}</span>
										{% else %}
											Not specified.
										{% endif %}
									</td>
								</tr>
								{% assign keywords = ds_triples | where:"predicate", dcat.keyword -%}
								{% if keywords.size > 0 -%}
									<tr>
										<td>Keywords:</td>
										<td>
											{% for keyword in keywords %}
												<a href="http://datadock.io/search?tag={{keyword.object|urlencode}}" class="btn btn-primary"><span about="{{dataset.object}}" property="dcat:keyword">{{keyword.object}}</span></a>
											{% endfor %}
										</td>
									</tr>
								{% endif -%}
								{% assign downloads = ds_triples | where:"predicate", void.dataDump -%}
								{% if downloads.size > 0 -%}
									<tr>
										<td>Download:</td>
										<td>
											{% for download in downloads %}
												<a property="void:dataDump" href="{{download.object}}">{{download.object|split:"/"|last}}</a><br/>
											{% endfor %}
										</td>
									</tr>
								{% endif -%}
							</table>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		{% if nquads -%}
			<p class="pull-right">Download the data on this page as RDF: <a href="{{nquads}}">NQuads</a></p>
		{% endif -%}
	</div>


	<footer class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p class="text-muted" style="text-align:center">
					Page generated for resource {{subject}} by <a href="http://datadock.io/">DataDock</a><br/>
					A service provided by <a href="http://networkedplanet.com/">NetworkedPlanet Ltd</a>.
				</p>
			</div>
		</div>
    </footer>
</body>
</html>