<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#62b12f">
  <meta name="theme-color" content="#ffffff">
  <meta name="format-detection" content="telephone=no">

  <!-- TODO INCLUDE BUNDLES -->
  <environment include="Development">
    <link rel="stylesheet" href="~/semantic-ui/dist/semantic.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  </environment>
  <environment include="Staging, Production">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"
          asp-fallback-href="~/semantic-ui/dist/semantic.min.css"
          asp-fallback-test-class="transition" asp-fallback-test-property="animation-iteration-count" asp-fallback-test-value="1" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  </environment>


  <script type='text/javascript'>
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'2f091c7b-ef2e-4e89-9c2c-22f03a4d1152'
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
  </script>
</head>
<body>

  <div class="cr cr-bottom cr-right cr-sticky cr-orange" title="DataDock is in Preview Release stage - please report any bugs to us">PREVIEW RELEASE</div>


  <!-- slide out mobile menu -->
  <div class="ui vertical inverted sidebar menu">
    <a class="active item" href="/" title="DataDock homepage">Home</a>
    <a class="item" href="/about" title="About DataDock">About</a>
    <a class="item" href="/features" title="DataDock Features">Features</a>
    <a href="http://networkedplanet.com/datadock" class="item">Help</a>
    <a class="item" href="/search" title="Search Data Dock">Search</a>
    @Html.Partial("_LoginSubMenuPartial")
  </div>

  <!-- Contents -->
  <div class="main pusher">
    <!-- top horizontal menu -->
    <header class="ui container">
      <nav class="ui menu fixed">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="header item" href="/" title="DataDock homepage"><img src="@Url.Content("~/Content/logo/DataDock_Colour_400.png")" class="ui image logo" data-pin-nopin="true" /></a>
        <a class="item" href="/about" title="About DataDock">About</a>
        <a class="item" href="/features" title="DataDock Features">Features</a>
        <a href="http://networkedplanet.com/datadock" class="item">Help</a>
        <a class="item" href="/search" title="Search Data Dock">Search</a>
        <div class="right menu">
          @Html.Partial("_LoginPartial")
        </div>
      </nav>
    </header>
    
    

    <section id="content">
      
      <environment include="Development,Staging">
        <div class="ui container">
          <strong>HostingEnvironment.EnvironmentName is Staging or Development</strong>
        </div>
      </environment>
      
      <div class="ui container">
        @RenderBody()
      </div>
    </section>

    <footer class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui inverted stackable divided equal height grid">
          <div class="three wide column">
            <h4 class="ui inverted header">Info</h4>
            <ul class="ui inverted">
              <li><a class="item" href="/about" title="About DataDock">About DataDock</a></li>
              <li><a class="item" href="/features" title="DataDock Features">Features</a></li>
              <li><a class="item" href="/terms" title="DataDock Terms & Conditions">Terms</a></li>
              <li><a class="item" href="/privacy" title="DataDock Privacy Statement">Privacy</a></li>
            </ul>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Help</h4>
            <ul class="ui inverted">
              <li><a href="http://networkedplanet.com/datadock/getting-started/" class="item">Getting Started</a></li>
              <li><a href="http://networkedplanet.com/datadock/user-guide/" class="item">User Guide</a></li>
              <li><a href="https://github.com/NetworkedPlanet/datadock/issues" class="item">Ask a question</a></li>
              <li><a href="https://github.com/NetworkedPlanet/datadock/issues" class="item">Report a bug</a></li>
            </ul>
          </div>
          <div class="ten wide column">
            <img src="@Url.Content("~/Content/logo/NetworkedPlanet_White_250.png")" class="ui image" alt="Networked Planet logo" />
            <p style="margin-left: 1em;">
              &copy; @DateTime.Now.Year &nbsp;<a href="http://www.networkedplanet.com" title="NetworkedPlanet Homepage">NetworkedPlanet</a>
            </p>
            @if (ViewBag?.BuildLabel != null)
            {
              <div class="inverted">Build: @ViewBag.BuildLabel</div>
            }

          </div>
        </div>
      </div>
    </footer>
  </div>



  <!-- TODO: INCLUDE SCRIPTS BUNDLES -->

  @RenderSection("scripts", required: false)
  <script type="text/javascript" src="~/Scripts/cookiebar/cookiebar-latest.min.js?noGeoIp=1&remember=365&theme=altblack&top=1&privacyPage=%2Fprivacy"></script>

  <script>
    $(document)
            .ready(function() {

                // create sidebar and attach to menu open
                $('.ui.sidebar').sidebar('attach events', '.toc.item');
                $('.ui.accordion').accordion();
                // load any partial views
                $('.load-async').each(function(index, item) {
                    var i = $(item);
                    var url = i.data('url');
                    if (url && url.length > 0) {
                        i.load(url, function(response, status, xhr) {
                            if (status === 'error') {
                                var msg = "Sorry but there was an error: ";
                                i.getElementById("asyncerror").html( msg + xhr.status + " " + xhr.statusText );
                            }
                        });
                    }
                });

            });

  </script>

  <script>
    var cookie = document.cookie.match(/(;)?cookiebar=([^;]*);?/);
    if (cookie && cookie.length > 2) {
        var cookieValue = cookie[2];
        if (cookieValue === 'CookieAllowed') {
            // The user has allowed cookies, let's load our external services
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-770913-5', 'auto');
              ga('send', 'pageview');
        }
    }



  </script>
</body>
</html>
