@using System.Globalization
@model List<DataDock.Web.ViewModels.TemplateViewModel>

@if (Model != null && Model.Count > 0)
{
  <div class="ui segments">
    @foreach (var template in Model)
    {
      <div class="ui fluid raised card">
        <div class="content">
          <div class="right floated">
            <div class="ui vertical labeled icon buttons">
              <a href="/@template.OwnerId/import/@template.SchemaId" title="Import Data Using This Template" id="useTemplate" class="ui small basic primary button"><i class="upload icon"></i>Use To Import</a>
              <a href="/@template.OwnerId/library/@template.SchemaId/delete" id="deleteTemplate" class="ui small basic red button" title="Delete Template"><i class="trash icon"></i>Delete</a>
            </div>
          </div>
          <div class="header">@template.Title</div>
          <div class="meta">Last Modified: @template.LastModified.ToString("d", CultureInfo.CurrentUICulture)</div>
          <div class="content">
            <h4>Template Metadata:</h4>
            <div class="">
              <p><b>Title:</b> <span id="mTitle">@template.MetadataTitle</span></p>
              <p><b>Description:</b> <span id="mDesc">@template.MetadataDescription</span></p>
              <p><b>Tags:</b> <span id="mTags">@template.MetadataTags;</span></p>
              <p><b>License:</b> <span id="mLicense">@template.MetadataLicenseUri</span></p>
            </div>
            <div class="ui accordion">
              <div class="title">
                <i class="dropdown icon"></i>
                <b>Raw Metadata</b>
              </div>
              <div class="content">
                <pre id="raw" class="rawJson">@template.MetadataRaw</pre>
              </div>
            </div>       
          </div>
        </div>
      </div>
    }
  </div>
}
else
{
  <div class="ui warning message">
    None found.
  </div>
}